html {
    font-family: Arial;
}

header {
    background: linear-gradient(45deg, #000, #460000, #000);
    color: white;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    transition: color 0.3s;
}

nav a:hover {
    color: yellowgreen;
    font-weight: bold;

}


header ul {
    color: aliceblue;
}


footer {
    background: linear-gradient(45deg, #000, #460000, #000);
    color: #ecf0f1;
    display: flex;
    padding: 2rem 5%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

footer h3 {
    margin: 0;
}

footer>div:nth-child(2) {
    margin: 0;
}
footer ul li{
    white-space: nowrap;
}
footer ul {
    justify-content: center;
}